###############
# MeepleStats #
###############

# Database settings
MONGO_INITDB_DATABASE=meeplestats
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD= # change this to a secure password

# Backend settings
BGG_USERNAME= # BoardGameGeek username
MONGO_URI=mongodb://root:PASSWORD@meeplestats-mongo:27017/meeplestats?authSource=admin # change password to the password you set above!
UPLOAD_FOLDER=/data # upload folder path
DB_NAME=meeplestats
SECRET_KEY= # random string, you can use `openssl rand -base64 32` to generate one
CORS_ORIGIN=https://frontend.domain.tld,https://backend.domain.tld # comma-separated list of allowed origins, e.g. http://localhost:3000,http://localhost:3001

# JWT settings
JWT_SECRET_KEY= # random string, you can use `openssl rand -base64 32` to generate one
JWT_ACCESS_TOKEN_EXPIRES=28 # access token expiration time in seconds
JWT_TOKEN_LOCATION=headers # token location, e.g. headers, cookies
JWT_COOKIE_SECURE=True # True if cookie should be secure, False otherwise
JWT_ACCESS_COOKIE_NAME=meeplestats # access cookie name
JWT_COOKIE_CSRF_PROTECT=False # True if CSRF protection is enabled, False otherwise
JWT_STORAGE=localstorage # or cookie

# Storage
STORAGE_TYPE=local # or s3

# S3 storage (required if using S3)
#S3_ENDPOINT= # S3 endpoint
#S3_ACCESS_KEY= # S3 access key
#S3_SECRET_KEY= # S3 secret key
#S3_BUCKET_NAME= # S3 bucket name

# RAG on Rulebooks PDF

ENABLE_RAG=True # Enable RAG
PINECONE_API_KEY= # Pinecone API key
PINECONE_INDEX_NAME=gamerulebooks
EMBEDDING_MODEL=embedding_model_name # for example: BAAI/bge-small-en-v1.5
PINECONE_DIMENSION=384
OPENROUTER_API_KEY=your_openrouter_key
LLM_MODEL=llm_model_name # for example: qwen/qwq-32b:free
EMBEDDING_TYPE=gemini  # or local
GEMINI_API_KEY= # Gemini API key, if using Gemini embeddings

# Frontend settings
VITE_API_URL=https://backend.domain.tld # backend API URL
VITE_ALLOWED_HOSTS=frontend.domain.tld
VITE_JWT_STORAGE=localstorage #or cookie
